body {
  background-color: rgb(75, 74, 74);
}

.title {
  text-align: center;
  color: yellow;
}

button {
  color: rgb(255, 230, 0);
  size: 30px;
  background-color: black;
  padding: 10px;
  margin: 5px;
  font-size: 13px;
  border-color: rgb(133, 119, 0);
  border-radius: 15px 50px;
}

form {
  display: flexbox;
  float: right;
  padding: 5px;
  margin: 5px;
}

#submit {
  margin-top: 10px;
  margin-left: 130px;
  font-size: 13px;
  background-color: black;
  color: rgb(255, 230, 0);
  border-color: black;
  border-radius: 15px 50px;
}

#submit:hover {
  box-shadow: 0px 5px 5px rgb(148, 121, 0);
  background-color: #777;
}

button:hover {
  box-shadow: 0px 5px 5px rgb(148, 121, 0);
  background-color: #777;
}

.btnInput {
  color: rgb(255, 174, 0);
  font-size: 20px;
  font-style: italic;
}
